@import "variables.less";

#bunny-description {
	background: url('../images/background-letterpressed.jpg') no-repeat center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-bottom: 0;


	.title {
		background-color: white;
		margin-top: -2%;
		padding: 2%;
	}

	.content {
		background: fade(white, 60%);
		overflow: hidden;
		padding: 50px 0 20px 0;
	}

	.bunny-img {
		position: relative;
		width: 80%;
		top: 70px;
		left: 0;
		margin: auto; 
		
		@media (max-width: @screen-md-max){
			top: 70px;
		}
	}

	h2 {
		font-family: canter-bold;
		font-size: 3em;
		margin-top: 10px;

		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: @primary;
			margin-bottom: 20px;
		}
	}

	p {
		vertical-align: center;
		font-size: 1.1em;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
   		-moz-column-count: 2; /* Firefox */
    	column-count: 2;

    	@media (max-width: @screen-xs-max){
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
   		    -moz-column-count: 1; /* Firefox */
    		column-count: 1;
		}
	}
}