@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome/";

@fa-font-path: "../fonts/canter";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "navbar.less";
@import "loader.less";
@import "cover.less";
@import "next-bunny.less";
@import "twitter-timeline.less";
@import "menu.less";
@import "description.less";

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

.jumbotron {
  margin: 50px auto 0 auto;
}

.row {
	margin-right: 0px!important;
}

section {
	padding: 2% 0;
	color: @primary;

	&.blue {
		background-color: @primary;
		color: white;

		h1 {
			color: white;

			&::before {
			background: url('../images/lekker-hat-white.svg');
			}

			.subtitle {
				color: white;
			}
		}
	}
}

h1 {
	font-family: canter-light;
	font-size: 5em;
	margin-bottom: 20px;

	&::before {
		content: '';
		display: inline-block;
		width: 60px;
		height: 60px;
		background: url('../images/lekker-hat.svg');
		background-repeat: no-repeat;
	}

	.subtitle {
		display: block;
		font-family: sans-serif;
		font-size: 0.2em;
	}
}